html, body {
    height: 100%;
    margin: 0; /* 기본 여백 제거 */
    padding: 0; /* 기본 패딩 제거 */
    background: linear-gradient(100deg, #F0F3FC 2.53%, #F4E5F8 96.19%);
}

body {
    margin: 30px;
    display: flex;
    gap: 8px;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit; /* 모든 요소에 box-sizing 적용 */
}

#sidebar-container, #messagebar-container {

}