.messagebar-nav {
    position: relative;
    display: flex;
    padding: 20px 14px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F1F1FB;
    border-radius: 16px;
    min-width: 230px;
    height: calc(100% - 30px);
    gap: 5px;
    box-shadow: 0px 4px 26px 0px #c7b8e1;
    resize: horizontal;
    overflow: auto;
    

    .project-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #4e2c8e;
        width: 100%;
        height: 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .message-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 30px;
        gap: 7px;

        .message-item-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            width: 100%;
        

            .message-title-wrap {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-left: 10px;
                cursor: pointer;

                .icon-arrow {
                    width: 10px;
                    height: 6px;
                    background-image: url('../image/icon_arrow.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-bottom: 3px;
                    transition: transform 0.3s ease;
                }
    
                .icon-arrow.rotate {
                    transform: rotate(180deg);
                }
    
                .message-title {
                    font-size: 15px;
                    font-weight: 600;
                    color: #4E2C8E;
                }
            }

            .icon-plus {
                width: 11px;
                height: 11px;
                background-image: url('../image/icon_plus.png');
                background-size: contain;
                background-repeat: no-repeat;
                display: none;
                margin-right: 10px;
                cursor: pointer;
            }
            
        }
        .message-item-channel:hover {
            background-color: #fff;
            border-radius: 8px;
        }

        .message-item-dm:hover {
            background-color: #fff;
            border-radius: 8px;
        }

        .message-item-channel {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 8px;
            height: 26px;
            gap: 11px;
            cursor: pointer;
            
            &.hidden {
                display: none;
            }
            

            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                border-radius: 12px;
                margin-bottom: 2px;
                background: #4E2C8E;


                .inner-circle {
                    width: 5px;
                    height: 5px;
                    border-radius: 4px;
                    background: #FFF;
                }
            }
            .channel-title {
                color: #57447D;
                font-size: 15px;
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        .message-item-dm {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 8px;
            height: 26px;
            gap: 11px;
            cursor: pointer;
            
            &.hidden {
                display: none;
            }
            

            .user-image {
                width: 20px;
                height: 20px;
            }

            .channel-title {
                color: #57447D;
                font-size: 15px;
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .resizer {
        width: 10px;
        cursor: ew-resize;
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }
}