.messagebar-nav {
    position: relative;
    display: flex;
    padding: 20px 14px;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F1F1FB;
    border-radius: 16px;
    min-width: 230px;
    height: calc(100% - 30px);
    gap: 5px;
    box-shadow: 0px 4px 26px 0px #c7b8e1;
    resize: horizontal; /* 수평으로 크기 조절 가능 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 가능 */
    

    .project-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        color: #4e2c8e;
        width: 100%;
        height: 32px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .message-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        margin-top: 30px;
        gap: 7px;

        .message-item-title {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-left: 10px;
            
            .icon-arrow {
                width: 10px; /* 원하는 너비 */
                height: 6px; /* 원하는 높이 */
                background-image: url('../image/icon_arrow.png'); /* 이미지 경로 */
                background-size: contain; /* 이미지 크기 조정 */
                background-repeat: no-repeat; /* 이미지 반복 방지 */
                display: inline-block; /* 블록 요소로 설정 */
                margin-bottom: 3px;
            }

            .message-title {
                font-size: 15px;
                font-weight: 600;
                color: #4E2C8E;
            }
        }
        .message-item-channel:hover {
            background-color: #fff; /* 호버 시 배경색 변경 */
            border-radius: 8px;
        }

        .message-item-channel {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 8px;
            height: 26px;
            gap: 11px;
            cursor: pointer;
            

            .circle {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15px;
                height: 15px;
                border-radius: 12px;
                margin-bottom: 3px;
                background: #4E2C8E;


                .inner-circle {
                    width: 5px;
                    height: 5px;
                    border-radius: 4px;
                    background: #FFF;
                }
            }
            .channel-title {
                color: #57447D;
                font-size: 15px;
                font-weight: 400;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }

    .resizer {
        width: 10px; /* 드래그 핸들 너비 */
        cursor: ew-resize; /* 커서 모양 */
        position: absolute; /* 절대 위치 */
        right: 0; /* 오른쪽에 위치 */
        top: 0; /* 상단에 위치 */
        height: 100%; /* 전체 높이 */
    }
}